@font-face {
  font-family: Monument;
  src: url("/fonts/MonumentExtended-Ultrabold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Monument;
  src: url("/fonts/MonumentExtended-Regular.otf");
  font-weight: 400;
}

:root {
  --primary-color: #265073;
  --ascent-color: #ecf4d6;
}
body {
  background-color: var(--primary-color);
  color: var(--ascent-color);
}

h1,
h2,
h3 {
  font-family: "Monument", sans-serif;
}
