.liked-tracks-container {
  max-width: 58rem;
  margin: auto;
  margin-top: 4rem;
  height: calc(100% - 4rem);
  overflow: auto;
}

.liked-tracks-header {
  margin-bottom: 2.5rem;
}

.page-heading {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  max-width: 40rem;
}

.page-heading .line {
  overflow: hidden;
}

.back-btn {
  background: transparent;
  color: var(--accent-color);
  font-size: 25px;
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 1rem;
}

.back-btn-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 1.4rem;
  z-index: 5;
}

.year-card {
  height: 150px;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.year-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (min-width: 840px) {
  .page-heading {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
